.card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    transition: transform 0.2s;
    height: 500px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.3rem;
    margin: 10px 0;
  }
  .large-icon {
    font-size: 30px; /* Adjust the size as needed */
    color: gold; /* Optional: Add color to the stars */
  }
  
  .card-footer span{
    text-align: left;

  }
  